<h3>You are invited to be a Melotic admin</h3>
<p>Congratulations! You have been added as a Melotic admin. Please select the link below to create</p>
<p>your unique user ID, password, and complete google authentication so that you can get started.</p>
<a href='<%=domain%>'>Go to sign in Melotic</a>

<p>The Melotic Team</p>
