<h3>Hi, <strong><%= user.firstName + ' ' + user.lastName%></strong></h3>
<p>
  We have received a username recovery request.
</p>

<p>
  Your username is <strong><%= user.username %></strong>
</p>

<p>Sincerely,</p>

<p>The Melotic Team</p>
