<h3>Hi, <strong><%= user.firstName + ' ' + user.lastName%></strong></h3>
<p>
  This email is to notify you that our services are down at the moment and will be back up soon.
</p>

<p>Sincerely,</p>

<p>The Melotic Team</p>
