<h3>Hi, <strong><%= user.firstName + ' ' + user.lastName%></strong></h3>
<p>
  This email is to notify you that your email has been updated to <strong><%= user.email %></strong>
</p>

<p>Sincerely,</p>

<p>The Melotic Team</p>
