<p>Hello <strong><%= user.firstName + ' ' + user.lastName%></strong>,</p>
<p>
  your Melotic verification status has been changed to <strong><%= user.verificationStatus.replace('_', ' ') %>.</strong>
</p>

<p>Sincerely,</p>

<p>The Melotic Team</p>