<p>Hello <strong><%= user.firstName + ' ' + user.lastName%></strong>,</p>
<p>This email is to notify you that your password has been updated successfully!.</p>

<p>If you did not attempt this password change, please let us know.</p>

<p>Sincerely,</p>

<p>The Melotic Team</p>